@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

@keyframes lightSlide {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(40px);
    }
}

@keyframes darkSlide {
    0% {
        transform: translateX(40px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes iconRotate {
    0% {
        rotate: 360deg;
    }

    100% {
        rotate: 0deg;
    }
}

.light-slide {
    animation: lightSlide 0.3s ease-out;
}

.dark-slide {
    animation: darkSlide 0.3s ease-out;
}

#sun,
#moon {
    animation: iconRotate 0.5s;
}

.no-scroll {
    overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .max-container {
        max-width: 1440px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1440px) {
        .max-container {
            max-width: fit-content;
        }
    }

}

@layer utilities {
    .padding {
        @apply padding-x padding-y;
    }

    .padding-x {
        @apply padding-l padding-r max-w-screen-2xl m-auto;
    }

    .padding-y {
        @apply padding-t padding-b;
    }

    .padding-t {
        @apply pt-14;
    }

    .padding-b {
        @apply pb-14;
    }

    .padding-l {
        @apply xl:pl-32 lg:pl-16 md:pl-10 sm:pl-8 max-sm:pl-5;
    }

    .padding-r {
        @apply xl:pr-32 lg:pr-16 md:pr-10 sm:pr-8 max-sm:pr-5;
    }

    .theme {
        @apply light-mode dark-mode;
    }

    .light-mode {
        @apply bg-white text-[#1A1A1A];
    }

    .dark-mode {
        @apply dark:bg-[#090D1F] dark:text-white
    }

    .info-text {
        @apply text-gray-700 text-lg leading-7 break-words max-sm:text-base max-sm:leading-7 max-sm:mt-6 dark:text-gray-300;
    }

    .input-filed {
        @apply py-2 px-4 rounded-lg shadow border-gray-300 dark:border-gray-900 focus:outline-none transition-all duration-200 ease-in-out bg-white dark:bg-gray-800 hover:border-gray-400;
    }
}